<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/empresa</property>
        <property name="connection.username">user</property>
        <property name="connection.password">user4321</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="com.kevinzamora.hibernatemysql.model.Emp"></mapping>
        <mapping class="com.kevinzamora.hibernatemysql.model.Dept"></mapping>

    </session-factory>
</hibernate-configuration>
