/* Header / Main Navbar */

header {
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:midnightblue;
    height: fit-content;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4em;
    z-index: 0.5rem;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

nav h1 {
    color: whitesmoke;
    margin-left: 1.5rem;
}

@media (max-width:450px) {
    header nav {
        justify-content: center;
    }
    nav h1 {
        margin-left: 0;
    }
}


header h2 {
    text-align: center;
    color: azure;
    background-color: mediumpurple;
    padding: 0.15rem 0 0 0;
}

/* Second Navbar */

.second-navbar {
    display: flex;
}

.second-navbar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.second-navbar nav div {
    width: fit-content;
    background-color: mediumpurple;
}

.second-navbar nav div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    height: 6.1rem;
}

.second-navbar nav .left-button a h2 {
    text-align: center;
    color: white;
}

.left-button {
    border-radius: 2.5rem;
    padding: .03rem 0.4rem;
    margin: 1rem;
}

.right-button {
    border-radius: 2.5rem;
    padding: .01rem .03rem;
    margin: 1rem;
}

.second-navbar nav .right-button button {
    border-radius: 2.5rem;
    color: whitesmoke;
    background-color: transparent;
    border: 0px;
    border-style: outset;
    border-color: whitesmoke;
    padding: 0.75rem;
}

.second-navbar nav .right-button button :active {
    color: white;
    background-color:mediumpurple;
    text-decoration: dashed;
}

.second-navbar nav .right-button button :hover {
    color: white;
    background-color:mediumpurple;
    text-decoration: dashed;
}

/* .second-navbar nav a h2 :hover {
    color:burlywood;
    background-color: burlywood;
} */

/* Main Container */

.container {
    margin: 0 2.5rem;
}