/* Header / Main Navbar */

header {
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:midnightblue;
}

header nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 4em;
    z-index: 0.5rem;
}

header nav div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav div img {
    border-radius: 50%;
    height: 7rem;
    width: auto;
    margin: .75rem 1rem;
    z-index: 1;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

nav div h1 {
    color: whitesmoke;
    margin-left: 1.5rem;
}

header h2 {
    text-align: center;
    color: azure;
    background-color: mediumpurple;
    padding: 0.15rem 0 0 0;
    margin-top: -3.95rem;
}

/* Second Navbar */

.second-navbar {
    display: flex;
    margin-top: 2.05rem;
}


.second-navbar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.second-navbar nav div {
    width: fit-content;
    background-color: mediumpurple;
}

.second-navbar nav div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    height: 6.1rem;
}

.second-navbar nav .left-button a h2 {
    text-align: center;
    color: white;
}

.left-button {
    border-radius: 2.5rem;
    padding: .03rem 0.4rem;
    margin: 1rem;
}

.right-button {
    border-radius: 2.5rem;
    padding: .01rem .03rem;
    margin: 1rem;
}

.second-navbar nav .right-button button {
    border-radius: 2.5rem;
    color: whitesmoke;
    background-color: transparent;
    border: 0px;
    border-style: outset;
    border-color: whitesmoke;
    padding: 0.75rem;
}

.second-navbar nav .right-button button :active {
    color: white;
    background-color:mediumpurple;
    text-decoration: dashed;
}

.second-navbar nav .right-button button :hover {
    color: white;
    background-color:mediumpurple;
    text-decoration: dashed;
}

/* Main Container */

.container {
    margin: 1.5rem 2.5rem;
}

article {
    text-align: justify;
}

/* Footer */

footer {
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:midnightblue;
    height: fit-content;
}

footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8em;
    z-index: 0.5rem;
}

footer nav h1 {
    color: white;
    margin-left: 1.5rem;
}

/* Media Queries */

@media (max-width: 370px) {
    header nav div {
        margin-top:10rem;
    }
    header nav div h1 {
        font-size: 22pt;
        text-align: center;
    }
    .second-navbar {
        margin-top: 5rem;
    }
}

@media (max-width:450px) {
    header nav {
        justify-content: center;
    }
    header nav div {
        margin-top: 5.5rem;
    }
    nav h1 {
        margin-left: 0;
    }
    .second-navbar {
        margin-top: 3rem;
    }
}

@media (max-width: 612px) {
    .second-navbar {
        margin-top: 3.75rem;
    }
}

@media (max-width: 800px) {
    footer nav {
        justify-content: center;
    }
}