/* Header / Main Navbar */

header {
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:midnightblue;
    height: fit-content;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 2rem 0.35rem 2rem;
    z-index: 0.5rem;
}

a {
    color:mediumpurple;
    text-decoration: none;
}

nav h1 {
    color: whitesmoke;
}

nav button {
    border-radius: 1.5rem;
    color: whitesmoke;
    background-color: transparent;
    border: 5px;
    border-style: outset;
    border-color: whitesmoke;
    padding: 0.5rem;
}

nav button :active {
    color: white;
    background-color:mediumpurple;
    text-decoration: dashed;
    height: 3rem;
}

nav button :hover {
    color: white;
    background-color:mediumpurple;
    text-decoration: dashed;
    height: 3rem;
}

header h2 {
    text-align: center;
    color: azure;
    background-color: mediumpurple;
    padding: 0.75rem 0;
}

/* Second Navbar */

.second-navbar {
    width: fit-content;
    border-radius: 0 0 1rem 0;
    background-color: mediumpurple;
}

.second-navbar nav a h2 {
    text-align: center;
    color: azure;
}

/* .second-navbar nav a h2 :hover {
    color:burlywood;
    background-color: burlywood;
} */

/* Main Container */

.container {
    margin: 0 2.5rem;
}