[Desktop Entry]
Encoding=UTF-8
Name=Link to Server framework 101 — documentación de Odoo - 17.0
Type=Link
URL=https://www.odoo.com/documentation/17.0/es_419/developer/tutorials/server_framework_101.html
Icon=text-html
