body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    width: 100%;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    padding: 0.5rem 1.5rem;
}
.fila1 {
    flex-direction: row;
    justify-content: space-between;
}
.izquierda {
    width: 200px;
    float:left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo {
    width: 12rem;
    display: block;
    padding-left: 0.7rem;
}
.menu ul {
    list-style: none;
}
.cabecera {
    text-align: center;
    vertical-align: middle;
    align-content: center;
    width: 100%;
    background-color: blue;
    color: white;
}
h1 {
    font-family: fantasy;
    font-size: 64px;
}
h3 {
    font-family: fantasy;
    font-size: 24px;
}
p {
    text-align: justify;
}
#seccion-n {
    justify-content: center;
    margin: auto;
    width: 800px;
    padding: 20px;
    background-color: rgb(123, 255, 255);
    border-width: 7px;
    border-style: outset;
    border-color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer p {
    text-decoration: underline;
    text-align: end;
}